%span.tas10-label{ :style => (!label.respond_to?(:color) || label.color.blank? ? "" : "background-color: #{label.color}"), :"data-id" => label.id }
  &nbsp;
  = label.name
  &nbsp;
  %span.remove.ui-icon.ui-icon-close.live-tipsy{ :"original-title" => t('labels.remove') }