<script id="color-template" type="text/x-jsrender">

	{{if showTitle}}
	<p><label>{{:~t('color')}}</label></p>
	{{/if}}

	<form action="/document/{{:parent._id}}" method="put" class="tas10-form" data-remote="true">
		<input type="hidden" name="document[color]" value="{{color}}" class="document-{{_id}}-color" />
		<span data-color-receiver="document-{{parent._id}}-color" class="color-chooser reset{{if color === ''}} selected{{/if}}"></span>
		{{for ~colors}}
			<span data-color-receiver="document-{{#data.parent._id}}-color" class="color-chooser color{{:#data}}{{if #data.parent.color === ~colors[#data] }} selected{{/if}}" style="background-color:{{:#data}}"></span>
		{{/for}}
	</form>
</script>