<script id="default-subtable-item-template" type="text/x-jsrender">
  <tr>
    <td><span class="col-val-amount">{{:amount}}x</span></td>
    <td><span class="col-val-type">{{:type}}</span></td>
    <td><span class="col-val-price">{{:price}}</span>,00 EUR</td>
  </tr>
</script>