<script id="default-table-item-template" type="text/x-jsrender">
  <tr data-id="{{:_id}}" data-url="/documents/{{:_id}}" data-filter-type="{{:_type.toLowerCase()}}" class="table-item item-context-menu" data-title="{{:name}}">
    <td class="checkbox">
      <span class="tas10-icon16 tas10-icon-checkbox tas10-checkbox"></span>
    </td>
    <td class="star sort-star">
      <span class="starred" data-id="{{:_id}}"><span class="tas10-icon16 black tas10-icon-star-{{:(starred ? 'full' : 'empty')}} star"></span></span>
    </td>
    {{for columns}}
      <td class="sort-{{:#data.key}}">
        {{if ~isObject(#data.value)}}
          <table class="subtable">
            {{for #data.value tmpl="#default-subtable-item-template" /}}
          </table>
        {{else}}
          <span class="inl-edit col-val-{{:#data.key}}">{{:#data.value}}</span>
        {{/if}}
      </td>
    {{/for}}
    <td class="action-col">
      <a data-remote="true" href="/documents/{{:_id}}/info" class="show-details">
        <i class="icon-chevron-right"></i>
      </a>
    </td>
  </tr>
</script>