<script id="default-list-item-template" type="text/x-jsrender">
  <li data-id="{{:_id}}" data-_type="{{:_type}}" data-title="{{:name}}" class="list-item item item-context-menu {{if taggable}}taggable{{/if}}">
    {{if !~defined(templ_short) }}
      <div class="item-container">
        <a class="show-details" href="/documents/{{:_id}}/info" data-remote="true">
          <i class="icon-chevron-right" />
        </a>
        <span class="tas10-icon16 tas10-icon-checkbox tas10-checkbox"></span>
        <span class="type"><span class="tas10-icon16 black tas10-icon-{{:_type.toLowerCase()}} float-left"></span>
        {{if acl["000000000000000000000000"]}}<span class="published"></span>{{/if}}</span>
        <a href="/{{:_type.toLowerCase()}}s/{{:_id}}?browser=true" data-remote="true" class="title item_{{:_id}}_title{{if color && color.length > 0}} item-color" style="background-color: {{:color}}{{/if}}" data-attr-name="name-{{:_id}}">{{:name}}</a>
        <span class="desc last-update">{{:~formattedDate(log_entries[log_entries.length-1].created_at) }}</span>
        <span class="starred" data-id="{{:_id}}"><span class="tas10-icon16 black tas10-icon-star-{{: (starred ? 'full' : 'empty')}} star"></span></span>
      </div>
    {{else}}
      <div class="item-container">
        <span class="type"><span class="tas10-icon16 black tas10-icon-{{:_type.toLowerCase()}} float-left"></span></span>
        <a href="/{{:_type.toLowerCase()}}s/{{:_id}}" data-remote="true" class="title item_{{:_id}}_title{{if color && color.length > 0}} item-color" style="background-color: {{:color}}{{/if}}" data-attr-name="name-{{:_id}}">{{:name}}</a>
      </div>
    {{/if}}
  </li>
</script>