<script id="history-item-template" type="text/x-jsrender">
  <li data-id="{{:id}}" class="history-item">

    <a href="{{:user_url}}" data-remote="true" class="user float-left userpic x30" original-title="{{:user_name}}"><img src="{{if ~notBlank(user_url)}}{{:user_url}}/picture_of?size=30{{else}}/assets/nopic_30x30.png{{/if}}" class="float-left x30 userpic-{{:user_id}}" /></a>

    <div class="history-content">
      <span class="desc pull-left">{{:user_name}}</span>
      <span class="desc last-update pull-right live-tipsy">{{:~formattedDate(created_at, 'DD.MM.YYYY HH:mm') }}</span>
      &nbsp;<br />
      {{:message}}<br />
    </div>

  </li>
</script>