<script id="label-template" type="text/x-jsrender">
	<span class="tas10-label" {{if color.length > 0}}style="background-color: {{:color}}" {{/if}}data-id="{{parent.parent._id}}">${name} <span class="remove ui-icon ui-icon-close live-tipsy" original-title="{{:~t('labels.remove') }}"></span></span>
</script>