=render 'panels/top'
=render 'panels/left_navbar'


#tas10-overlay.tas10-overlay
#tas10-dialog.tas10-dialog
%input#tas10-current-label.tas10-current-label{ :type => 'hidden' }

//include tmpls/all

#tas10-main-container
  #tas10-tab-container
  #tas10-dashboard.tas10-dashboard

    .container-padding

      .gadget{:style => "margin-top: 0"}
        .content
          =raw t('dashboard_of', :name => current_user.fullname_or_name)


      .gadget

        .head
          =t('latest_comments')

        .content
          %table.comments
            -@messages.each do |comment|
              = render :partial => comment, :locals => {:withpics => true}


=render 'common/tmpls/all'