#tas10-find
  = form_tag( find_documents_path, :remote => true ) do
    %input{ :type => 'hidden', :name => 'label_ids' }
    %input{ :type => 'hidden', :name => 'types' }
    %input{ :type => 'hidden', :name => 'conditions' }

    %span.conditions
    %span.path
    %input{ :type => 'text', :name => 'query' }

    %a.submit{ :href => '#' }
      %span.tas10-icon24.float-right.tas10-icon-find

    %span.settings-trigger.ui-icon.ui-icon-triangle-1-s
    
  .settings
    %h5= t( 'advanced_settings' )

    %table
      %tr
        %td
          %p=t('query_scripts.title')
          %ul.available-scripts
        %td
          %p=t('only_of_type')

          - Tas10box.plugins.each do |plugin|
            -if plugin.creates
              .icn-btn.float-left{:onclick => "$('#tas10-find input[name=types]').val('#{plugin.name}')"}
                %span.float-left.tas10-icon16{:class => "tas10-icon-#{plugin.name.singularize}"}
            


