.form-horizontal{:style => "margin-top: 40px"}
  .control-group
    %label.control-label
      =t('user.email')
    .controls
      =f.text_field :email

  .control-group
    %label.control-label
      =t('user.name')
    .controls
      =f.text_field :name

  .control-group
    %label.control-label
      =t('user.fullname')
    .controls
      =f.text_field :fullname

  .control-group
    %label.control-label
      =t('login.password')
    .controls
      =f.password_field :password, :class => 'new-password'

  .control-group
    %label.control-label
      =t('login.password_confirm')
    .controls
      =f.password_field :password_confirmation, :class => 'confirm-password'

:javascript

  $('.user-form').on('submit', checkPassword);

  function checkPassword(){
    $('.login-container .error').removeClass('error');
    var password = $('.new-password').val();
    var confirmation = $('.confirm-password').val();
    if( password.length === 0 && confirmation.length === 0 )
      return true;
    if( password.length > 5 ){
      if( password.match(/^\w*(?=\w*\d)(?=\w*[a-z])(?=\w*[A-Z])\w*$/) ){
        if( password == confirmation )
          return true;
        else{
          $('.confirm-password').addClass('error');
          $('.new-password').addClass('error')
          $('.confirm-password').focus();
          return false;
        }
      } else
        $('.digit-error').addClass('error');
    } else
      $('.length-error').addClass('error');
    $('.new-password').focus();
    return false;
  }