#accounting.settings-tab-content

  .tas10-list-wrapper.action-container{ :id => "contact-results-action-container" }
    .browser-actions-bg
      = render :partial => "common/table_actions"

      %table{:id => "contact-results" }
      %div{ :id => "contact-results-pager"}
