.browser-actions.ui-helper-clearfix
  -if defined?(show_checkbox)
    %a.multi.single.default.select-all.live-tipsy{ :"original-title" => t( 'select_all' )}
      %span.tas10-icon16.tas10-icon-checkbox
  %a.disableable.disabled.multi.single.default.cut.live-tipsy{ :"original-title" => t( 'cut' )}
    %span.tas10-icon16.tas10-icon-cut
  %a.disableable.disabled.multi.single.default.copy.live-tipsy{ :"original-title" => t( 'copy' )}
    %span.tas10-icon16.tas10-icon-copy
  %a.disableable.disabled.disabled.default.paste.live-tipsy{ :"original-title" => t( 'paste' )}
    %span.tas10-icon16.tas10-icon-paste
  %a.disableable.disabled.multi.single.default.share.live-tipsy{ :"original-title" => t( 'share' )}
    %span.tas10-icon16.tas10-icon-share
  %a.disableable.disabled.multi.single.default.info.live-tipsy{ :"original-title" => t( 'details' )}
    %span.tas10-icon16.tas10-icon-details
  %a.disableable.disabled.multi.single.default.delete.live-tipsy{ :"original-title" => t( 'delete' )}
    %span.tas10-icon16.tas10-icon-trash
  -if @doc.is_a?(Label)
    %a.btn.btn-mini.float-right{:href => edit_label_path(@doc), :"data-remote" => true}
      %i.tas10-icon16.tas10-icon-pencil.float-right
    %a.btn.btn-mini.float-right{:href => info_document_path(@doc), :"data-remote" => true, :style => "margin: 0 5px"}
      %i.tas10-icon16.tas10-icon-details.float-right
  %span.spacer
  - if defined?(additional_icons) && additional_icons
    - additional_icons.each do |icon|
      =raw(icon)

  %input.new-item{ :type => "hidden", :"data-type" => (defined?(type) && type ? "#{type}s" : 'labels' ), :"data-type-template" => (defined?(template) ? template : nil) }