.tas10-list-wrapper.action-container
  .browser-actions-bg
    = render :partial => "common/browser_actions", :locals => { :additional_icons => (defined?(additional_icons) ? additional_icons : []), :type => (defined?(type) ? type : nil), :template => (defined?(template) ? template : nil) }

  %ul.tas10-list{ :class => "tas10-list-#{@doc ? @doc.id : ''}", :"data-id" => (@doc ? @doc.id : '') }